div.container
	h1.mission_statement Mission Statement

	p.
		Montessori School of the Bay Area, strives for educational excellence. Our mission is to provide for each of its students a well-rounded, individualized educational and developmental experience, based on Montessori principles, that nurture a love of learning.
	p.
		Continuity of learning develops a strong foundation which is built upon year after year. This provides a familiar setting which encourages long-term friendships and takes maximum advantage of the teacher/student relationship.

		h2 Goals and Objectives
		p.
			Our primary goal is to help each child reach their full potential in all areas of life. Our activities promote the development of social skills, emotional growth, and physical coordination as well as cognitive preparation. Montessori School of the Bay Area will provide a carefully planned, stimulating environment, in which children can play and learn.

	ul
		li To develop a positive attitude toward school and learning. 
		li To develop high self-esteem. 
		li To build concentration for lifelong study skills. 
		li To develop and foster an abiding curiosity. 
		li To develop initiative and persistence. 
		li To foster inner discipline and a sense of order. 
		li To develop sensory-motor skills in order to sharpen the ability to discriminate and judge. 
		li To develop socially acceptable behavior.

	h2 Why our School is Different...

	ul
		li We teach reading and writing
		li We teach math and language skills
		li We encourage social independence
		li We provide art enrichment
		li We teach computer literacy

	h2 Your child will find our classes are...

	ul
		li Nurturing & Protective
		li Comfortable & Calm
		li Varied & Enriching
		li Created in a home environment
		li In a structured setting

	p.
		The child in a Montessori class is allowed to develop at their own pace intellectually. What is made available to the child are the keys and a road map to the exploration of the world. The child is shown a basic concept and is guided to build on that idea. The child learns each segment at their own pace, and moves on to the next as each one is mastered.

	h1 Schedule/Tuition

	p.
		Montessori School of the Bay Area-San Francisco is open year round with the exception of School, Public holidays and vacation.

	h2 Tuition

	h3 Infant
	p Call for tuition rates.

	h3 Toddlers
	p Call for tuition rates.

	h3 Pre School
	p Call for tuition rates.

	h2 Arrival & Departure

	p To start and end the day in an organized manner, and especially to avoid confusion during arrival and departures, please follow these procedures:

	h3 Arrival: 

	p Students arriving for school should be accompanied to the entrance of the school appropriate for their class. Please bring your child to the classroom entrance, as staying in your car while your child enters the building is not safe. If you need to give a message to the director or a teacher, please give a note to the teacher at the door and arrangements will be made to meet or call you as soon as practical.

	h3 Departure:

	p Children will be released only to the people authorized.

	h3 Late Pick-Up

	p Parents who arrive late to pick-up their child should go to their children's classroom. Your child will be waiting for you there. There is also a small fee for this accommodation, which should be paid at that time.





