div.contact-container
	h2 
		|Montessori School of the Bay Area - San Francisco

	h2
		|1550 Eddy Street 
		|San Francisco, CA 94115
	h2
		|Tel. 415-292-7970
		|Tel. 415-474-7092
	
	img.blocks(src="images/blocks2.jpg")
