h1(class="montessori_motto")
		Montessori School of the Bay Area San Francisco

aside.aside1
	img.kid_pics(src="images/redkids.jpg" alt="Montessori School SF")
	p
		|School of the Bay Area-San Francisco, strives for and values its educational excellence. Our mission is to provide for each of its students, a well-rounded, individualized, educational and developmental experience based on Montessori principles that nurtures a love of learning.
	p
		|When you enter our school, one of the things you notice is the calm and quiet. The children are all active, enjoying their activities, and they find our structure provides the environment needed to absorb learning. Our basic premise is that children enjoy learning, learning about themselves and the world around them. They enjoy learning so much it is like playing. Another premise is that, children do not learn through playing; they learn through purposeful activity. Children who go through our program love to come to school everyday. They look forward to it, because they are being rewarded with learning.

aside.aside2
	img.kid_pics(src="images/yellowgirl.jpg" alt="Montessori School SF")
	p
		|We provide an extensive all-day Montessori program that answers many problems of today. The children are taught everyday tasks of dressing, cleaning, and other purposeful activities. They are shown the logic of the activities so they can relate existing knowledge to new situations and in this way, the children learn to learn. The environment is one of well-designed teaching tools and materials.  Preparing in advance, establishes a solid teaching philosophy that knows where it is going.

	p
		|The goal of the Montessori education is to link the child's experiences in the world with the information that is presented in the classroom. An integrated approach to education helps a child order and classify the world so that it is easier for them to understand and appreciate it. We also present parents with more information about the learning process that takes place in the Montessori classroom. We as a staff, take great pride in the work that we do here at Montessori School of the Bay Area. We enjoy sharing our vision, so that you as parents, can experience the same satisfaction that we do, as we work toward accomplishing our goal.
		img.kid_pics(src="images/twogirls.jpg" alt="Montessori School SF")