* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  // padding: 50px 20px 0;
  background: #ffffff;
  color: #444;
  margin: 0;
}

.montessori_motto {
  font-size: 45px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  margin-top: 90px;
  // padding: 20px 0;
}

h3 {
  font-weight: 300;
}

/* *****   HEADER   ***** */

header {
  height: 80px;
  background-color: teal;
}

/* *****   NAV   ***** */

nav {

  position: fixed;
  top: 0;
  background-color: yellow;
  width: 90px;
  z-index: 2;
  
  ul {
    list-style-type: none;
    width: 100%;
  }

  li {
    margin-left: auto;
    margin-right: auto;
  }

}

.drawer>ul>li::first-letter {
  visibility: hidden;
}

.drawer {
    
  width: 100%;
  height: 100%;
  top: 0;
  background-color: yellow;
  color: black;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  // display: none;
  right: 100%;
  opacity: .9;
  transition: .25s ease-in-out;

    a {
    position: relative;
    left: 50px;
    list-style-type: none;
    font-weight: 900;
    
  }

  .ome {
    top: 22px;
  }

  .boutus {
    top: 46px;
  }

  .log {
    top: 70px;
  }

  .ontactus {
    top: 100px;
  }

  .irections {
    top: 140px;
  }

  .close {
    top: 160px;
    position: relative;
    z-index: 2;
  }

}

.open {

  .drawer {
  right: 0;
  }

  .directions {
    transform: rotate(180deg);
  }
}

nav::after, nav::before {
  clear: both;
}

/* *****   HOME (index.html)   ***** */



/* *****   ABOUT US    ***** */

.container {
  margin-left: 15%;
  margin-right: 5%;
}

.mission_statement {
  color: red;
  drop-shadow: 3px darkgray;
}
/* *****   CONTACT US    ***** */

.contact-container h2 {
  text-align: center;
}

.blocks {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* *****   DIRECTIONS    ***** */



.directions {
  color: red;
}

iframe {
  position: absolute;
  border: 5px solid black;
  left: 10%;
  right: 10%;
  top: 150px;
  max-width: 80%;
}

/* *****   FOOTER   ***** */

footer {
  height: 40px;
  background-color: blue;
}

footer ul li {
  display: inline;
}

@media screen and (min-width: 250px) {

  aside {
    margin: 0 10%;
  }

  .kid_pics {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

  nav {

    width: 100%;

    .nav {
      width: 100%;
      display: block;
    }

    img {
      max-width: 40px;
    }
  }

  .drawer>ul>li>a {
    writing-mode: sideways-lr;
  }

  .nav li {
    display: inline;
    margin-left: 5%;
  }
}

@media screen and (min-width: 600px) {
 

  nav {

    max-width: 100px;
    height: 100%;

   .nav li {
    display: block;
   }
  }

  aside, h1 {
    margin-left: 20%;
  }

  .kid_pics {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  
  aside {
    float: left;
    max-width: 30%;
    margin-right: 5%;
  }

  .aside2 {
    margin-left: 5%;
  }

  footer {
    clear: both;
  }
}

@media screen and (min-width: 900px) {
  .nav li {
    display: block;
  }

  nav {
    position: left;
  }
}

// @media screen and (min-width: 500px) {

// }